" Do not try to be VIM compatible
set nocompatible

" Encoding
set encoding=utf-8

" Color Settings

"" Enable Syntax Highlighting
syntax enable         

"" colorscheme
set term=screen-256color

" Spaces & Tabs

"" Number of Visual spaces in a tab
let tabsize = 4
execute "set tabstop=".tabsize
execute "set shiftwidth=".tabsize
execute "set softtabstop=".tabsize
set autoindent " Auto Indent New Lines
set smartindent " Enable smart indent
set smarttab " Enable Smart Tab

" UI Config
set number " Show Line Numbers
set lazyredraw " Redraw only when required
set showmatch " Highlights matching [{()}]
set scrolloff=4 " Always show at least 4 line above/below the cursor

" Searching
set incsearch " Search the file as characters are entered
set hlsearch " Highlight all matches when searching
set ignorecase " Ignores case whensearching
set smartcase " Enable Smart Case Search

" Misc
set wildmenu " Autocomplete in Menu

" coc.nvim
set hidden
set nobackup
set nowritebackup
set cmdheight=2
set updatetime=300
set shortmess+=c

" Map Tab To auto complete
inoremap <silent><expr> <TAB>
  \ pumvisible() ? "\<C-n>" :
  \ <SID>check_back_space() ? "\<TAB>" :
  \ coc#refresh()
inoremap <expr><S-TAB> pumvisible() ? "\<C-p>" : "\<C-h>"

function! s:check_back_space() abort
  let col = col('.') - 1
  return !col || getline('.')[col - 1] =~# '\s'
endfunction

" https://www.reddit.com/r/vim/comments/6v368a/how_do_you_install_plugins_on_vim8/

" Load all packages now
packloadall
" Generate help tags from all packages and ignore errors
silent! helptags ALL

nmap <F6> :NERDTreeToggle<CR>

" FZF
set rtp+=~/.fzf
